{{- define "main" }} {{- with .Site.GetPage "_index.md" }} {{- if
.Params.homePageIsPost }}
<h1>{{ .Title }}</h1>
<h4>{{ .Params.description }}</h4>
<p class="author-date">
    <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time> -
    {{ .Params.author }}
</p>

{{- if not (.Param "disableAnchoredHeadings") }} {{ partial
"anchored_headings.html" .Content }} {{- else }} {{ .Content }} {{- end }} {{-
else }} {{- $subtitle := .Params.subtitle }} {{- with .Content }}
<section>
    <h1 class="smaller">{{ $subtitle }}</h1>
    {{ . }}
</section>
{{- end }} {{- end }} {{- end }} {{- range .Site.Sections -}}
<section>
    <h2>{{ .Title }}</h2>
    <ul>
        {{- range .Pages -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end -}}
    </ul>
</section>
{{- end -}} {{- end }}
